<%-include('../partials/user/profileSidebar.ejs')%>
            <!-- Profile Details -->
            <div id="profile" class="section">
                <h3>Profile Details</h3>
                <form action="/profile/updateProfile" method="POST">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" value="<%= user.name%>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%= user.email%>" disabled>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" value="<%= user.phone%>" placeholder="Enter 10 digit phone number" >
                </div>
                <button><a href="/changePassword" style="text-decoration: none;color: aliceblue;">Change Password</a></button>
                <br>
                <br>
                <button type="submit">Save Changes</button>
            </form>
            </div>
        </div>
</body>
</html>
